block resume
    div(id="id-resume" class="resume")
        div(class="resume-title")
            h2(class="resume-title__resume") RESUME
            h2(class="resume-title__intro") More of my credentials.
        div(class="resume-intro")
            p(class="resume-intro__paragraph") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.
        div(class="experience")
            h2(class="timeline-title") Work Experience
            ul(class="timeline")
                li(class="timeline-event")
                    label(class="timeline-event-icon")
                        i(class="icon fas fa-briefcase")
                    div(class="timeline-event__content")
                        div(class="timeline-event-copy")
                        p(class="timeline-event-thumbnail") September 2020 - Present
                        h3(class="timeline-content__title") Unitech Company
                        h4(class="timeline-content__job") Frontend Developer
                        p(class="timeline-content__content") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.
            h2(class="timeline-title") Education
            ul(class="timeline")
                li(class="timeline-event")
                    label(class="timeline-event-icon")
                        i(class="icon fas fa-graduation-cap")
                    div(class="timeline-event__content")
                        div(class="timeline-event-copy")
                        p(class="timeline-event-thumbnail") February 2020 - September 2020
                        h3(class="timeline-content__title") CodeGym                
                        p(class="timeline-content__content") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.
                li(class="timeline-event")
                    label(class="timeline-event-icon")
                           i(class="icon fas fa-graduation-cap")
                    div(class="timeline-event__content")
                        div(class="timeline-event-copy")
                        p(class="timeline-event-thumbnail")  August 2016 -  August 2019
                        h3(class="timeline-content__title") Nha Trang University
                        p(class="timeline-content__content") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.       
      
