block navbar
    div(class="navbar" id="navbar")
        div(class="navbar-header")
            i(class="fa fa-bars navbar-header__icon" onclick="toggleMenu()" id="navbar-header__icon")
            img(src="/img/logo/logo_rectangle.png" height="auto" class="navbar-header__logo")
        div(id="navbar-menu" class="navbar-menu navbar-menu__hidden")
            ul(class="ul-menu")
                li()
                    a(href="#id-home") Home
                li()
                    a(href="#id-info") Info
                li()
                    a(href="#id-resume") Resume
                li()
                    a(href="#id-portfolio") Portfolio
                li()
                    a(href="#id-contact") Contact
