block contact
    div(id="id-contact" class="contact")
        div(class="contact-title")
            h2(class="contact-title__contact") CONTACT
            h2(class="contact-title__intro") I'd Love To Hear From You.
        div(class="contact-intro")
            p(class="contact-intro__paragraph") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.   
        div(class="contact-content")
            div(class="input-field") 
                input(placeholder="Name" name="name" type="text")  
                input(placeholder="Email" name="email" type="text")  
                input(placeholder="Subject" name="subject" type="text")     
                textarea(placeholder="Message" name="message" class="materialize-textarea" type="text" rows="5")
            button(class="content-btn__submit") Submit    