block slider
    div(id="id-home" class="slider")
        div(class="slider-title")
            h2(class="slider-title__welcome") WELCOME
            h1(class="slider-title__title") I'm Tran Chi Hieu
            h2(class="slider-title__job") WEB DEVELOPER
            div(class="slider-button")
                a(class="ui vertical animated button slider-button__button" href="#id-info")
                    div(class="visible content") MORE ABOUT ME
                    div(class="hidden content")
                        i(class="down arrow icon")