block info
    div(id="id-info" class="info")
        div(class="info-title")
            h2(class="info-title__about") ABOUT
            h2(class="info-title__intro") Let me introduce myself.
        div(class="info-intro")
            div(class="info-intro__div")
                img(class="info-intro__img" src="/img/photo/avt.jpg")
            p(class="info-intro__paragraph") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.
        div(class="info-detail")
            div(class="detail-profile")
                h2(class="detail-profile__title") PROFILE
                p(class="detail-profile__content") Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.
                div(class="detail-content")
                    h3(class="detail-content__title") FULLNAME:
                    p(class="detail-content__content") Tran Chi Hieu
                    h3(class="detail-content__title") BIRTH DATE:
                    p(class="detail-content__content") August 28, 1997
                    h3(class="detail-content__title") JOB:
                    p(class="detail-content__content") Web Developer
                    h3(class="detail-content__title") EMAIL:
                    p(class="detail-content__content") hieu57130154@gmail.com
                    h3(class="detail-content__title") SKYPE:
                    p(class="detail-content__content") Tran Chi Hieu
            div(class="detail-skill")
                h2(class="detail-profile__title") SKILLS
                p(class="detail-profile__content") Lorem ipsum Qui veniam ut consequat ex ullamco nulla in non ut esse in magna sint minim officia consectetur nisi commodo ea magna pariatur nisi cillum.
                div(class="detail-content")
                    h3(class="detail-content__title") PROGRAMMING LANGUAGE:
                    p(class="detail-content__content") Java, JavaScript.
                    h3(class="detail-content__title") DATABASE:
                    p(class="detail-content__content") MySQL, PostgreSQL, MongoDB.
                    h3(class="detail-content__title") FRAMEWORK:
                    p(class="detail-content__content") Java Spring boot, Express, ReactJs.