block modal 
        div(id="id-modal-portfolio" class="modal-portfolio")
            div(class="modal-content")
                div(class="modal-img")
                div(class="modal-body")
                    h2 Liberty
                    p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                    h3 WEB DEVELOPMENT
                div(class="modal-footer") 
                    button(onclick="closeModal()") DETAILS  
                    button(onclick="closeModal()") CLOSE  