block portfolio
    div(id="id-portfolio" class="portfolio")
        div(class="portfolio-title")
            h2(class="portfolio-title__portfolio") PORTFOLIO
            h2(class="portfolio-title__intro") Check Out Some of My Works.
        div(class="portfolio-intro")
            p(class="portfolio-intro__paragraph") Lorem ipsum Exercitation culpa qui dolor consequat exercitation fugiat laborum ex ea eiusmod ad do aliqua occaecat nisi ad irure sunt id pariatur Duis laboris amet exercitation veniam labore consectetur ea id quis eiusmod.   
        block modal
            include ./modal.pug